In [1]:
# import the os module
import os

# Let's detect the current working directory and then print it
path = os.getcwd()
print("The current working directory is {directory}".format(directory=path))

The current working directory is C:\Users\danis\Desktop\my_categories

In [2]:


# pick up the name of the directory that you want to create
path = r"C:\Users\danis\Desktop\my_categories\categories"

try:
    os.makedirs(path)
except OSError:
    print ("Creation of %s directory has failed" % path)
else:
    print ("%s Directory has been created successfully " % path)

C:\Users\danis\Desktop\my_categories\categories Directory has been created successfully

In [5]:
import pyodbc 
import pandas as pd
server = 'DESKTOP-DRB7DGT\DROGBA' 
# db = 'BikeStores'
# UID='sa'
# PWD='Melo.539933'

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-DRB7DGT\DANYA;'
                      'Database=BikeStores;'
                      'Trusted_Connection=yes;')
df=pd.read_sql_query('''select category_name  from production.categories ''',conn)
for i in df["category_name"]:
    statement='''select c.category_id,c.category_name,i.product_id,sum(i.list_price*i.quantity) as total from production.categories c
            inner join production.products p on p.category_id=c.category_id
            inner join sales.order_items i on i.product_id=p.product_id
            group by c.category_id,c.category_name,i.product_id
            having c.category_name='{x}'
            order by category_id,c.category_name,total desc'''.format(x=i)
    sql_query = pd.read_sql_query(statement,conn)
    df = pd.DataFrame(sql_query)
    path=r"C:\Users\danis\Desktop\my_categories\categories\category_name_{x}.csv".format(x=i)
    df.to_csv (path,index = False) # place 'r' before the path name

In [3]:
import pyodbc 
import pandas as pd
server = 'DESKTOP-DRB7DGT\DROGBA' 
# db = 'BikeStores'
# UID='sa'
# PWD='Melo.539933'

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-DRB7DGT\DANYA;'
                      'Database=BikeStores;'
                      'Trusted_Connection=yes;')
df=pd.read_sql_query('''select category_name  from production.categories ''',conn)

In [4]:
df

         category_name
0    Children Bicycles
1     Comfort Bicycles
2    Cruisers Bicycles
3  Cyclocross Bicycles
4       Electric Bikes
5       Mountain Bikes
6           Road Bikes